form{
    width: 300px;
    margin-left: 10px;
}
button{
    display: block;
}
ul{
    list-style: none;
    padding: 10px;
    margin: 0;
}
.one {
    margin-left: 10px;
    display: flex;
}

.two {

    width: 500px;
    border: 1px red solid;
}
.list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.list-div{

    width: 235px;
    border: 1px grey dotted;
}

