form{
    width: 300px;
    margin-left: 10px;
}
button{
    display: block;
}
ul{
    list-style: none;
    padding: 10px;
    margin: 0;
}
a{
    color: brown;
}
.one {
    margin-left: 10px;
    display: flex;
    
}

.two {

    width: 500px;
    border: 1px red solid;

}
.list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.list-div{

    width: 235px;
    border: 1px grey dotted;
}
 .modal {
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(128, 128, 128, 0.739);
    border: 1px green solid;
    border-radius: 5px;
 }
input {
    display: block;
}
.modal-btn{
    display: flex;
    gap: 20px;
}
.modal-chb{
    display: flex;
}